# https://github.com/bkeepers/dotenv is used for
# default configuration options.  The values in
# this file do not replace existing values in
# the shell ENV.

# Uncomment and set values as required.  See used settings in
# lib/marc2linkeddata/configuration.rb

DEBUG: false

# Options for retrieving linked data to resolve and enhance data
GET_ISNI: false
GET_LOC: true    # currently required, should be optional
GET_OCLC: false
GET_VIAF: false

LOG_FILE: 'marc2ld.log'

LIB_PREFIX: http://linked-data.example.org/library/

# Redis Persistence - based on https://github.com/redis/redis-rb
# - essential options:
#   export REDIS4MARC=true # enable redis persistence (default = false)
# - supplementary options:
#   Set the REDIS_URL for a custom redis configuration.
#   export REDIS_URL="redis://{user}:{password}@{host}:{port}/{db}"
#   export REDIS_READ=true  # enable redis reads  (default = REDIS4MARC || false)
#                           # faster reading of triples from pre-populated redis data
#   export REDIS_WRITE=true # enable redis writes (default = REDIS4MARC || false)
#                           # current data is updated in redis
REDIS4MARC: false
# Uncomment these options to disable read or write (independently)
#REDIS_READ: false
#REDIS_WRITE: false
# Leave commented to use default redis configs on localhost
#REDIS_URL: localhost


