---
http_interactions:
- request:
    method: get
    uri: http://sameas.org/rdf?uri=http://viaf.org/viaf/7466303
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rdf+xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <rdf:RDF
          xmlns:rdf  = "http://www.w3.org/1999/02/22-rdf-syntax-ns#"
          xmlns:rdfs = "http://www.w3.org/2000/01/rdf-schema#"
          xmlns:owl  = "http://www.w3.org/2002/07/owl#"
          xmlns:dc   = "http://purl.org/dc/elements/1.1/"
          xmlns:dct  = "http://purl.org/dc/terms/"
          xmlns:foaf = "http://xmlns.com/foaf/0.1/"
        >

          <rdf:Description rdf:about="http://sameas.org/rdf?uri=http%3A%2F%2Fwikidata.dbpedia.org%2Fresource%2FQ17457">
            <dc:creator>sameAs.org</dc:creator>
            <dc:title>Co-references from sameAs.org for http://viaf.org/viaf/7466303</dc:title>
            <foaf:primaryTopic rdf:resource="http://viaf.org/viaf/7466303" />
            <dct:license rdf:resource="http://creativecommons.org/publicdomain/zero/1.0/" />
          </rdf:Description>

          <rdf:Description rdf:about="http://viaf.org/viaf/7466303">
            <owl:sameAs rdf:resource="http://dbpedia.org/resource/D._Knuth" />
            <owl:sameAs rdf:resource="http://dbpedia.org/resource/Knuthput" />
            <owl:sameAs rdf:resource="http://dbpedia.org/resource/Don_Knuth" />
            <owl:sameAs rdf:resource="http://dbpedia.org/resource/D._E._Knuth" />
            <owl:sameAs rdf:resource="http://dbpedia.org/resource/Donald_Knuth" />
            <owl:sameAs rdf:resource="http://dbpedia.org/resource/Donald_knuth" />
            <owl:sameAs rdf:resource="[...]
