---
http_interactions:
- request:
    method: get
    uri: http://sameas.org/rdf?uri=http://id.loc.gov/authorities/names/no99010609
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rdf+xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <rdf:RDF
          xmlns:rdf  = "http://www.w3.org/1999/02/22-rdf-syntax-ns#"
          xmlns:rdfs = "http://www.w3.org/2000/01/rdf-schema#"
          xmlns:owl  = "http://www.w3.org/2002/07/owl#"
          xmlns:dc   = "http://purl.org/dc/elements/1.1/"
          xmlns:dct  = "http://purl.org/dc/terms/"
          xmlns:foaf = "http://xmlns.com/foaf/0.1/"
        >

          <rdf:Description rdf:about="http://sameas.org/rdf?uri=http%3A%2F%2Fwikidata.dbpedia.org%2Fresource%2FQ80">
            <dc:creator>sameAs.org</dc:creator>
            <dc:title>Co-references from sameAs.org for http://id.loc.gov/authorities/names/no99010609</dc:title>
            <foaf:primaryTopic rdf:resource="http://id.loc.gov/authorities/names/no99010609" />
            <dct:license rdf:resource="http://creativecommons.org/publicdomain/zero/1.0/" />
          </rdf:Description>

          <rdf:Description rdf:about="http://id.loc.gov/authorities/names/no99010609">
            <owl:sameAs rdf:resource="http://southampton.rkbexplorer.com/id/person-07113" />
            <owl:sameAs rdf:resource="http://southampton.rkbexplorer.com/id/person-0a36cf76d1a3e99f9267ce3d0b95e42e-06999d58799cb8a3a55d3c69efcc9ba6" />
            <owl:sameAs rdf:resource="http://southampton.rkbexplorer.com/id/person-2f876940347fe251382724b34c27346f-cb9c89b02b078212e440a8016915856a" />
            <owl:sameAs rdf:resource="http://dbpedia.org/resource/TimBL" />
            <owl:sameAs rdf:resource="http://dbpe[...]
