---
http_interactions:
- request:
    method: head
    uri: http://viaf.org/viaf/sourceID/LC%7Cno99010609%23skos:Concept
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Srwrequestmethod:
      - HEAD
      Location:
      - http://viaf.org/viaf/85312226
      Content-Type:
      - application/redirect+xml;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 12 May 2015 00:58:07 GMT
- request:
    method: head
    uri: http://viaf.org/viaf/85312226
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - 85312226/
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 12 May 2015 00:58:08 GMT
- request:
    method: get
    uri: http://viaf.org/viaf/85312226/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Location:
      - viaf.xml
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"  encoding=\"UTF-8\"?> \n<ns2:VIAFCluster xmlns=\"http://viaf.org/viaf/terms#\"
        xmlns:foaf=\"http://xmlns.com/foaf/0.1/\" xmlns:owl=\"http://www.w3.org/2002/07/owl#\"
        xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\" xmlns:void=\"http://rdfs.org/ns/void#\"
        xmlns:ns2=\"http://viaf.org/viaf/terms#\"><ns2:viafID>85312226</ns2:viafID><ns2:Document
        about=\"http://viaf.org/viaf/85312226/\"><ns2:inDataset resource=\"http://viaf.org/viaf/data\"/><ns2:primaryTopic
        resource=\"http://viaf.org/viaf/85312226\"/></ns2:Document><ns2:nameType>Personal</ns2:nameType><ns2:sources><ns2:source
        nsid=\"870979.68120527\">DBC|87097968120527</ns2:source><ns2:source nsid=\"no99010609\">LC|no
        99010609</ns2:source><ns2:source nsid=\"Q80\">WKP|Q80</ns2:source><ns2:source
        nsid=\".a11462115\">BNC|a11462115</ns2:source><ns2:source differentiated=\"false\"
        nsid=\"http://d-nb.info/gnd/159981727\" sparse=\"true\">DNB|159981727</ns2:source><ns2:source
        nsid=\"00854777\">NDL|00854777</ns2:source><ns2:source nsid=\"0000000124514311\">ISNI|0000000124514311</ns2:source><ns2:source
        nsid=\"193462516\">NTA|193462516</ns2:source><ns2:source nsid=\"http://d-nb.info/gnd/121649091\">DNB|121649091</ns2:source><ns2:source
        nsid=\"vtls009033529\">NUKAT|n 2012151802</ns2:source><ns2:source nsid=\"XX1503528\">BNE|XX1503528</ns2:source><ns2:source
        nsid=\"074709267\">SUDOC|074709267</ns2:source><ns2:source nsid=\"a26647606\">NLP|a26647606</ns2:source><ns2:source
        nsid=\"xx0000870\">NKC|xx0000870</ns2:source><ns2:source nsid=\"317488\">SELIBR|317488</ns2:source><ns2:source
        nsid=\"LNC10-000198835\">LNB|LNC10-000198835</ns2:source></ns2:sources><ns2:length>1626</ns2:length><ns2:mainHeadings><ns2:data><ns2:text>Berners-Lee,
        Tim.</ns2:text><ns2:sources><ns2:s>LC</ns2:s><ns2:s>DNB</ns2:s><ns2:s>DBC</ns2:s><ns2:s>ISNI</ns2:s><ns2:s>SELIBR</ns2:s><ns2:s>BNC</ns2:s><ns2:s>BNE</ns2:s><ns2:s>NDL</ns2:s></ns2:sources></ns2:data><ns2:data><ns2:text>Berners-Lee,
        Tim, 1955-....</ns2:text><ns2:sources><ns2:s>NTA</ns2:s><ns2:s>NUKAT</ns2:s><ns2:s>SUDOC</ns2:s><ns2:s>NLP</ns2:s><ns2:s>DNB</ns2:s></ns2:sources></ns2:data><ns2:data><ns2:text>Tim
        Berners-Lee</ns2:text><ns2:sources><ns2:s>WKP</ns2:s></ns2:sources></ns2:data><ns2:data><ns2:text>Berners-Lee,
        Timothy, 1955-</ns2:text><ns2:sources><ns2:s>LNB</ns2:s></ns2:sources></ns2:data><ns2:data><ns2:text>Berners-Lee,
        Timothy J., 1955-</ns2:text><ns2:sources><ns2:s>NKC</ns2:s></ns2:sources></ns2:data><ns2:mainHeadingEl><ns2:datafield
        dtype=\"MARC21\" ind1=\"1\" ind2=\" \" tag=\"100\"><ns2:subfield code=\"a\">Berners-Lee,
        Tim</ns2:subfield><ns2:subfield code=\"d\">(1955- ).</ns2:subfield></ns2:datafield><ns2:sources><ns2:s>NLP</ns2:s></ns2:sources><ns2:id>NLP|a26647606</ns2:id><ns2:links><ns2:link><ns2:match
        type=\"forced single date\"/>DNB|121649091</ns2:link><ns2:link><ns2:match
        type=\"forced single date\"/>ISNI|0000000124514311</ns2:link><ns2:link><ns2:match
        type=\"forced single date\"/>NTA|193462516</ns2:link><ns2:link><ns2:match
        type=\"forced single date\"/>LNB|LNC10-000198835</ns2:link><ns2:link><ns2:match
        type=\"forced single date\"/>SUDOC|074709267</ns2:link><ns2:link><ns2:match
        type=\"forced single date\"/>NKC|xx0000870</ns2:link><ns2:link><ns2:match
        type=\"forced single date\"/>NUKAT|n 2012151802</ns2:link></ns2:links></ns2:mainHeadingEl><ns2:mainHeadingEl><ns2:datafield
        dtype=\"MARC21\" ind1=\"1\" ind2=\" \" tag=\"100\"><ns2:subfield code=\"a\">Berners-Lee,
        Tim</ns2:subfield></ns2:datafield><ns2:sources><ns2:s>SELIBR</ns2:s></ns2:sources><ns2:id>SELIBR|317488</ns2:id><ns2:links><ns2:link><ns2:match
        type=\"title\"/>DBC|87097968120527</ns2:link><ns2:link><ns2:match type=\"suggested\"/>WKP|Q80</ns2:link><ns2:link><ns2:match
        type=\"exact name\"/>DNB|159981727</ns2:link><ns2:link><ns2:match type=\"title\"/>NDL|00854777</ns2:link><ns2:link><ns2:match
        type=\"title\"/>NUKAT|n 2012151802</ns2:link></ns2:links></ns2:mainHeadingEl><ns2:mainHeadingEl><ns2:datafield
        dtype=\"MARC21\" ind1=\"1\" ind2=\" \" tag=\"100\"><ns2:subfield code=\"a\">Berners-Lee,
        Timothy,</ns2:subfield><ns2:subfield code=\"d\">1955-</ns2:subfield></ns2:datafield[...]
