---
http_interactions:
- request:
    method: head
    uri: http://viaf.org/viaf/sourceID/LC%7Cno99010609%23skos:Concept
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Srwrequestmethod:
      - HEAD
      Location:
      - http://viaf.org/viaf/85312226
      Content-Type:
      - application/redirect+xml;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 03 Feb 2017 00:09:58 GMT
- request:
    method: head
    uri: http://viaf.org/viaf/85312226
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - 85312226/
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 03 Feb 2017 00:09:59 GMT
- request:
    method: get
    uri: http://viaf.org/viaf/85312226/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Location:
      - viaf.xml
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"  encoding=\"UTF-8\"?> \n<ns1:VIAFCluster xmlns=\"http://viaf.org/viaf/terms#\"
        xmlns:foaf=\"http://xmlns.com/foaf/0.1/\" xmlns:owl=\"http://www.w3.org/2002/07/owl#\"
        xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\" xmlns:void=\"http://rdfs.org/ns/void#\"
        xmlns:ns1=\"http://viaf.org/viaf/terms#\"><ns1:viafID>85312226</ns1:viafID><ns1:Document
        about=\"http://viaf.org/viaf/85312226/\"><ns1:inDataset resource=\"http://viaf.org/viaf/data\"/><ns1:primaryTopic
        resource=\"http://viaf.org/viaf/85312226\"/></ns1:Document><ns1:nameType>Personal</ns1:nameType><ns1:sources><ns1:source
        nsid=\".a11462115\">BNC|a11462115</ns1:source><ns1:source nsid=\"XX1503528\">BNE|XX1503528</ns1:source><ns1:source
        nsid=\"http://catalogue.bnf.fr/ark:/12148/cb16588000f\">BNF|16588000</ns1:source><ns1:source
        nsid=\"870979.68120527\">DBC|87097968120527</ns1:source><ns1:source nsid=\"http://d-nb.info/gnd/121649091\">DNB|121649091</ns1:source><ns1:source
        nsid=\"0000000124514311\">ISNI|0000000124514311</ns1:source><ns1:source nsid=\"no99010609\">LC|no
        99010609</ns1:source><ns1:source nsid=\"LNC10-000198835\">LNB|LNC10-000198835</ns1:source><ns1:source
        nsid=\"00854777\">NDL|00854777</ns1:source><ns1:source nsid=\"xx0000870\">NKC|xx0000870</ns1:source><ns1:source
        nsid=\"a26647606\">NLP|a26647606</ns1:source><ns1:source nsid=\"193462516\">NTA|193462516</ns1:source><ns1:source
        nsid=\"vtls009033529\">NUKAT|n 2012151802</ns1:source><ns1:source nsid=\"317488\">SELIBR|317488</ns1:source><ns1:source
        nsid=\"074709267\">SUDOC|074709267</ns1:source><ns1:source nsid=\"Q80\">WKP|Q80</ns1:source><ns1:source
        nsid=\"BNC10000000000000000219905\">BNCHL|10000000000000000219905</ns1:source><ns1:source
        nsid=\"DA12374620\">NII|DA12374620</ns1:source></ns1:sources><ns1:length>2890</ns1:length><ns1:mainHeadings><ns1:data><ns1:text>Berners-Lee,
        Tim</ns1:text><ns1:sources><ns1:s>DBC</ns1:s><ns1:sid>DBC|87097968120527</ns1:sid><ns1:s>NII</ns1:s><ns1:sid>NII|DA12374620</ns1:sid><ns1:s>ISNI</ns1:s><ns1:sid>ISNI|0000000124514311</ns1:sid><ns1:s>NDL</ns1:s><ns1:sid>NDL|00854777</ns1:sid><ns1:s>BNE</ns1:s><ns1:sid>BNE|XX1503528</ns1:sid><ns1:s>LC</ns1:s><ns1:sid>LC|no
        99010609</ns1:sid><ns1:s>BNC</ns1:s><ns1:sid>BNC|a11462115</ns1:sid><ns1:s>SELIBR</ns1:s><ns1:sid>SELIBR|317488</ns1:sid></ns1:sources></ns1:data><ns1:data><ns1:text>Berners-Lee,
        Tim, 1955-....</ns1:text><ns1:sources><ns1:s>DNB</ns1:s><ns1:sid>DNB|121649091</ns1:sid><ns1:s>NLP</ns1:s><ns1:sid>NLP|a26647606</ns1:sid><ns1:s>NTA</ns1:s><ns1:sid>NTA|193462516</ns1:sid><ns1:s>BNF</ns1:s><ns1:sid>BNF|16588000</ns1:sid><ns1:s>SUDOC</ns1:s><ns1:sid>SUDOC|074709267</ns1:sid><ns1:s>BNCHL</ns1:s><ns1:sid>BNCHL|10000000000000000219905</ns1:sid><ns1:s>NUKAT</ns1:s><ns1:sid>NUKAT|n
        2012151802</ns1:sid></ns1:sources></ns1:data><ns1:data><ns1:text>Tim Berners-Lee</ns1:text><ns1:sources><ns1:s>WKP</ns1:s><ns1:sid>WKP|Q80</ns1:sid></ns1:sources></ns1:data><ns1:data><ns1:text>Berners-Lee,
        Timothy, 1955-</ns1:text><ns1:sources><ns1:s>LNB</ns1:s><ns1:sid>LNB|LNC10-000198835</ns1:sid></ns1:sources></ns1:data><ns1:data><ns1:text>Berners-Lee,
        Timothy J., 1955-</ns1:text><ns1:sources><ns1:s>NKC</ns1:s><ns1:sid>NKC|xx0000870</ns1:sid></ns1:sources></ns1:data><ns1:mainHeadingEl><ns1:datafield
        dtype=\"UNIMARC\" ind1=\" \" ind2=\"|\" tag=\"200\"><ns1:subfield code=\"7\">ba0yba0y</ns1:subfield><ns1:subfield
        code=\"8\">fre</ns1:subfield><ns1:subfield code=\"9\">0</ns1:subfield><ns1:subfield
        code=\"a\">Berners-Lee</ns1:subfield><ns1:subfield code=\"b\">Tim</ns1:subfield><ns1:subfield
        code=\"f\">1955-....</ns1:subfield></ns1:datafield><ns1:sources><ns1:s>BNF</ns1:s><ns1:sid>BNF|16588000</ns1:sid></ns1:sources><ns1:id>BNF|16588000</ns1:id><ns1:links><ns1:link><ns1:match
        type=\"forced single date\"/>DNB|121649091</ns1:link><ns1:link><ns1:match
        type=\"viafid\"/>NLP|a26647606</ns1:link><ns1:link><ns1:match type=\"forced\"/>ISNI|0000000124514311</ns1:link><ns1:link><ns1:match
        type=\"forced\"/>ISNI|0000000124514311</ns1:link><ns1:link><ns1:match type=\"forced\"/>ISNI|0000000124514311</ns1:link><ns1:link><ns1:match
        type=\"forced\"/>ISNI|0000000124514311</ns1:link><ns1:link><ns1:match type=\"forced\"/>ISNI|0000000124514311</ns1:link><ns1:link><ns1:match
        type=\"forced\"/>ISNI|0000000124514311</ns1:link><ns1:link><ns1:match type=\"suggested\"/>WKP|Q80</ns1:link><ns1:link><ns1:mat[...]
